<!DOCTYPE html>
<html>
<!------------------------------HEAD------------------------------------------------>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Enterpirse Notes</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<!------------------------------BODY------------------------------------------------>
<body>
	<div class="container">
	<h1>Enterprise Note: Authentication</h1>	
		<div class="row">
			<section class="col-12 col-md-6 border border-success">				
				<h5>SIGN UP</h5>
				<div class="row">
					<label class="col-3">Username: </label>
					<input class="col-8" type="text" id="signup_username" placeholder="username">	
				</div>
				<div class="row">	
					<label class="col-3">Email: </label>
					<input class="col-8" type="email" id="signup_email" placeholder="email">	
				</div>	
				<div class="row">					
					<label class="col-3">Password: </label>
					<input class="col-8" type="password" id="signup_password" placeholder="password">
				</div>				
				<input type="button" value="Sign up" class="btn btn-warning" onclick="createUser()">	
			</section>

			<section class="col-12 col-md-6 border border-success">
				<h5>SIGN IN</h5>	
				<div class="row">
					<label class="col-3">Email: </label>
					<input class="col-8" type="text" id="login_email" placeholder="email">	
				</div>	
				<div class="row">				
					<label class="col-3">Password: </label>
					<input class="col-8" type="password" id="login_password" placeholder="password">
				</div>				
				<input type="button" value="Login" class="btn btn-info" onclick="checkUser()">			
			</section>		
		</div>	
	</div>
    <script>
    //Create a js class: "User"
    class User {
        //Properties (props) & Constructor
        constructor(username, email, password) {
            this.username = username; 
            this.email = email;      
            this.password = password; 
        }

        //Methods:
        signUp(userList) {
            //Check if the email exists
            let foundObject = null;
            for (let i=0; i < userList.length; i++) {
                if (this.email == userList[i].email) {
                    foundObject = userList[i];//Return the matching user				
                } 
            }
            //
            if (foundObject != null) {
                alert("SORRY! THIS EMAL ALREADY EXIST!");	
            } else {
                alert("CONGRATS! YOUR ACCOUNT IS CREATED");				
                userList.push(this);
            }
        }
        
        
        signIn(userList) {
            //Check if the user exists
            let foundUser = null;
            for (let i=0; i < userList.length; i++) {
                if (this.email == userList[i].email && this.password == userList[i].password) {
                    foundUser = userList[i];//Return the matching user	
                    alert("HELLO " + foundUser.username + " CONGRATS! YOU ARE LOGGED IN!");	
                    return foundUser; 
                } 
            }

            alert("SORRY! WRONG ACCOUNT");	
            return null;
        }
    }

    //-----------------------------
    //Authentication
    function createUser() {
        //Get entered data
        let enteredUsername = document.getElementById("signup_username").value;
        let enteredEmail = document.getElementById("signup_email").value;
        let enteredPass = document.getElementById("signup_password").value;
        
        //Create a new user
        let enteredUser = new User(enteredUsername, enteredEmail, enteredPass);
        //Call to execute the signUp() method
        enteredUser.signUp(users);
    }

    //-----------------------------
    function checkUser() {
        //Get entered data
        let enteredEmail = document.getElementById("login_email").value;
        let enteredPass = document.getElementById("login_password").value;
        
        //Create a new user
        let enteredUser = new User("loginUser", enteredEmail, enteredPass);
        //Call to execute the signIn() method
        enteredUser.signIn(users);
    }

    /* var registerForm = document.getElementById('register-form');
            registerForm.onsubmit = function() {
            if (this.elements["password"].value != this.elements['passwordAgain'].value) {
                alert("Password not match");
                return false;
            }
            if (this.elements['username'].value.length < 6 || this.elements['password'].value.length < 6) {
                alert('Username and password must has at least 6 characters');
                return false;
            }
            if (this.elements['username'].value == this.elements['password'].value) {
                alert('Username must different password')
                return false;
            }
            }*/
    </script>
</body>
</html>